{% load static %}
<div class="footer-icons">
    <a href="https://instagram.com/ppaulo.py" target="_blank">
        <img src="{% static 'media_static/img-footer/instagram-icon.svg' %}" alt="Instagram" height="30" width="30">
    </a>
    <a href="https://twitter.com/ppaulopy" target="_blank">
        <img src="{% static 'media_static/img-footer/twitter-icon.svg' %}" alt="Twitter" height="30" width="30">
    </a>
    <a href="https://www.linkedin.com/in/ppaulopy/" target="_blank">
        <img src="{% static 'media_static/img-footer/linkedin-icon.svg' %}" alt="Linkedin" height="30" width="30">
    </a>
</div>
<p class="copyright">&copy; 2023 Pedro Paulo. Todos os direitos reservados.</p>