{% load static %}
<div class="footer-icons">
    <a href="https://instagram.com/ppaulo.py" target="_blank">
        <img src="media/img_footer/instagram-icon.svg" alt="Instagram" height="30" width="30">
    </a>
    <a href="https://instagram.com/ppaulo.py" target="_blank">
        <img src="media/img_footer/twitter-icon.svg" alt="Twitter" height="30" width="30">
    </a>
    <a href="https://instagram.com/ppaulo.py" target="_blank">
        <img src="media/img_footer/linkedin-icon.svg" alt="Linkedin" height="30" width="30">
    </a>
</div>
<p class="copyright">&copy; 2023 Pedro Paulo. Todos os direitos reservados.</p>