{% if page_obj %}
 <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1&q={{ request.GET.q.strip }}">&laquo; FIRST</a>
        <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q.strip }}">PREVIOUS</a>
        {% endif %}
        
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
      + <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q.strip }}">NEXT</a>
        <a href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q.strip }}">LAST &raquo;</a>
        {% endif %}
    </span>
 </div>
 {% endif %}